body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Quicksand;
}
h1 {
    font-family: 'Amatica SC', cursive;
    font-weight: 700;
    text-align: center;
}
h4{
    font-family: Quicksand;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.25px;
    text-align: left;
}
h5 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.left-col {
    position: absolute;
    width: 84px;
    height: 1200px;
    left: 0px;
    top: 0px;
    background: #716F81;
}
.center-col {
    position: absolute;
    width: 918px;
    height: 1153px;
    left: 124px;
    top: 0px;
}
.right-col {
    position: absolute;
    width: 358px;
    height: 1024px;
    left: 1082px;
    top: 0px;
}

.nav-flex-column{
    position: flex;
    margin-left: 25px;
    margin-top: 2cm;
}
.nav-link{
    align-items: center;
    margin-top: 1cm;
}
#icon-bar {
    width: 25px;
    height: 25px;
}

.row-1 {
    position: absolute;
    width: 918px;
    height: 370px;
    left: 0px;
    top: 105px;
}
.headline{
    position: absolute;
    width: 333px;
    height: 33px;
    left: 0px;
    top: -30px;
} 
.sub-headline{
    position: absolute;
    height: 33px;
    left: 30px;
    top: -30px;
    color: black;
    font-size: 35px;
}

.content {
    position: absolute;
    width: 918px;
    height: 1089px;
    left: 0px;
    top: 38px;
}
.row-1 .left-img{
    position: absolute;
    width: 449px;
    height: 241px;
    left: 0px;
    top: 65px;
    background: linear-gradient(113.06deg, #F2E1C1 15.11%, rgba(246, 174, 153, 0.8) 88.91%);
    border-radius: 34px;
}
.row-1 .right-img-1{
    position: absolute;
    width: 449px;
    height: 110px;
    left: 469px;
    top: 65px;
    background: #F9E2DB;
    border-radius: 34px;
}
.row-1 .right-img-2{
    position: absolute;
    width: 449px;
    height: 110px;
    left: 469px;
    top: 195px;
    background: #F9E2DB;
    border-radius: 34px;
}
#note {
    position: absolute;
    height: 30px;
    left: 20px;
    top: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #000000;
}
.row-1 .right-img { 
    position: absolute;
    width: 449px;
    height: 240px;
    left: 469px;
    top: 65px;
    background: #FFEFCE;
    border-radius: 34px;
}
.right-img .button-list-1{
    position: absolute;
    left: 25px;
    top: 30px;
}
.right-img .button-list-2{
    position: absolute;
    left: 25px;
    top: 115px;
}
button{
    border: 0;
    background-color: #FBF9F5;
    background-size: 100%;
    background-size: 40px auto;
    margin-right: 65px;
}
button:hover{
    filter: drop-shadow(10px 4px 10px red);
}
.mood-btn {
    position: absolute;
    width: 60px;
    height: 60px;
}

.row-2 {
    position: absolute;
    width: 918px;
    height: 370px;
    left: 0px;
    top: 431px;
}
.row-2 .left-img {
    position: absolute;
    width: 449px;
    height: 239px;
    left: 0px;
    top: 66px;
}
.row-2 .left-img-mood {
    position: absolute;
    width: 449px;
    height: 239px;
    left: 0px;
    top: 66px;
    background: url('../image/sleep_backgr.png');
    background-size: cover;
}
.row-2 .right-img{
    position: absolute;
    width: 449px;
    height: 239px;
    left: 469px;
    top: 66px;
    background: #F9E2DB;
    border-radius: 34px;
}
.row-2 .right-img-mood{
    position: absolute;
    width: 449px;
    height: 239px;
    left: 469px;
    top: 66px;
    border-radius: 34px;
    background-color: #727081;
    color: white;
}
.row-2 .right-img-mood .sub-headline{
    position: absolute;
    height: 33px;
    left: 30px;
    top: -30px;
    color: white;
    text-align: center;
}
.row-2 .right-img-1 {
    position: absolute;
    width: 449px;
    height: 110px;
    left: 469px;
    top: 65px;
    background: #FBF9F5;
    border-radius: 34px;
}
.row-2 .right-img-2{
    position: absolute;
    width: 449px;
    height: 110px;
    left: 469px;
    top: 195px;
    background: #FBF9F5;
    border-radius: 34px;
}
.row-2 .black-space{
    position: absolute;
    width: 918px;
    height: 240px;
    left: 0px;
    top: 65px;
    background: #FBF9F5;
    border-radius: 34px;
}


.row-3{
    position: absolute;
    width: 918px;
    height: 371px;
    left: 0px;
    top: 756px;
}
.row-3 .left-img {
    position: absolute;
    width: 449px;
    height: 240px;
    left: 0px;
    top: 65px;
    background: #FBF9F5;
    border-radius: 34px;
}
.row-3 .right-img{
    position: absolute;
    width: 449px;
    height: 239px;
    left: 469px;
    top: 66px;
    background: #FBF9F5;
    border-radius: 34px;
}

.row-3 .right-img-1 {
    position: absolute;
    width: 215px;
    height: 241px;
    left: 469px;
    top: 65px;
    border-radius: 34px;
}
.row-3 .right-img-2 {
    position: absolute;
    width: 215px;
    height: 241px;
    left: 703px;
    top: 65px;
    border-radius: 34px;
}

#title-right {
    position: absolute;
    width: 282px;
    height: 33px;
    left: 38px;
    top: 50px;
}
.box-1 {
    position: absolute;
    width: 359px;
    height: 327px;
    left: 0px;
    top: 170px;
}
.box-2 {
    position: absolute;
    width: 347px;
    height: 241px;
    left: 0px;
    top: 517px;
    background: #FFE6C8;
    border-radius: 34px;
}
.box-3 {
    position: absolute;
    width: 348px;
    height: 241px;
    left: 0px;
    top: 778px;
    background: #FFE6C8;
    border-radius: 34px;
}
.long-box{
    position: absolute;
    width: 347px;
    height: 617px;
    left: 0px;
    top: 517px;
    background: linear-gradient(208.02deg, #FCDFD6 2.23%, rgba(252, 223, 214, 0.1) 100%);
    border-radius: 34px;
}

/*Calendar styling*/
.cld-main{
    width: 330px;
}
.cld-main a{
    color: #333;
    font-weight: bold;
}
.cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}
.cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}
.cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.cld-nav:hover{
    cursor: pointer;
}
.cld-nav:hover svg{
    fill: #666;
}
.cld-rwd{
    float: left;
}
.cld-fwd{
    float: right;
}
.cld-nav svg:hover{

}
.cld-labels, .cld-days{
    padding-left: 0;
}
.cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
}
.cld-day.today .cld-number{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #CF7199;
    color: #fff;
}
    .cld-day.disableDay{
      opacity: 0.5;
    }
    .cld-day.nextMonth, .cld-day.prevMonth{
      opacity: 0.33;
    }
      .cld-number{
        position: relative;
        margin: 5px;
        padding: 5px;
      }
.cld-title{
    position: absolute;
    z-index: 5;
    display: none;
    top: 30px;
    left: 0;
    padding: 5px 10px;
    background: #fff;
          white-space: nowrap;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 12px;
        }
        .cld-number:hover .cld-title{
          display: block;
        }
.cld-title::before{
    content: '';
    position: absolute;
    top: -7.5px; left: 7.5px;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid #999;
}
.cld-number.eventday:hover{
    cursor: pointer;
    background: #eee;
}
.today .cld-number.eventday:hover{
    background: #888;
}

/* FLASHHHHH 2 CARDSDDDSSS */

#tips{
    position: absolute;
    height: 30px;
    left: 40px;
    top: 40px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #FFFFF8;
}

#banguoi{
    position: absolute;
    width: 342px;
    height: 244px;
    left: 50px;
    top: 10px;
}

#timer{
    position: absolute;
    width: 382px;
    height: 180px;
    left: 35px;
    top: 20px;
}

#sleep-tipssss{
    height: 239px;
    width: 449px;
    margin-top: 5px;
}