<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/home.css" />
    <title>Mood Tracker</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="left-col">
        <nav class="nav-flex-column">
            <div class="nav-link">
                <a href="{{url_for('home')}}"><img id="icon-bar" src="../static/image/icon_home.png"></a>
            </div>
            <div class="nav-link">
                <a href=""><img id="icon-bar" src="../static/image/icon_analysis.png"></a>
            </div>
            <div class="nav-link">
                <a href=""><img id="icon-bar" src="../static/image/icon_calendar.png"></a>
            </div>
            <div class="nav-link">
                <a href=""><img id="icon-bar" src="../static/image/icon_setting.png"></a>
            </div>
        </nav>          
    </div>
    <div class="center-col">
        <div class="content">
            <h4>Yen</h4>
            <div class="row-1">
                <h5 class="headline">Hi Vu, how u doin?</h5>
                <div class="left-img">
                    <img id="banguoi" src="../static/image/banguoi.png">
                </div>
                <div class="right-img">
                    <div class="button-list-1">
                        <button type="button">
                            <img class="mood-btn" src="../static/image/mood/mood_confused.png">
                        </button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_happy.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_driven.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_hopeful.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_disappointed.png"></button>
                        
                    </div>
                    <div class="button-list-2">
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_calm.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_energetic.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_fear.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_amazing.png"></button>
                        <button type="button"><img class="mood-btn" src="../static/image/mood/mood_upset.png"></button>
                    </div>
                </div>     
            </div>

            <div class="row-2">
                <h5 class="headline">how was your sleep</h5>
                <div class="left-img-mood">

                </div>
                <div class="right-img-mood">
                    <h5 class="sub-headline">sleepy tips</h5>
                    <img id="sleep-tipssss" name="slide"/>
                    <script>
                        var i = 0; 			// Start Point
                        var images = [];	// Images Array
                        var time = 2000;	// Time Between Switch
                        
                        images[0] = "../static/image/sleep/sleep1.png";
                        images[1] = "../static/image/sleep/sleep2.png";
                        images[2] = "../static/image/sleep/sleep3.png";
                        images[3] = "../static/image/sleep/sleep4.png";

                        function changeImg(){
                            document.slide.src = images[i];
                            if(i < images.length - 1){
                                i++; 
                            } else { 
                                i = 0;
                            }
                            setTimeout("changeImg()", time);
                        }
                        window.onload=changeImg;
                    </script>
                </div>
            </div>

            <div class="row-3">
                <h5 class="headline">how was your sleep</h5>
                <div class="left-img">

                </div>
                <div class="right-img">
                    <h5 class="sub-headline">sleep tips</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="right-col">
        <h5 id="title-right">your daily mood tracker</h5>
        <div class="box-1">
            <div id="caleandar"></div>
            <script type="text/javascript" src="{{url_for('static', filename='calendar/js/caleandar.js')}}"></script>
            <script type="text/javascript" src="{{url_for('static', filename='calendar/js/demo.js')}}"></script>
        </div>

        <div class="long-box">
            <div class="row-a">
                <div class="col-1">
                    <img src="../static/image/weather/weatherIcon.png" id = "left-img">
                </div>
                <div class="col-2">
                    <img src="../static/image/weather/cf.png" id = "right-img">
                </div>
            </div>
            <div class="row-b">
                <!-- <h1 id="temp">67</h1> -->

                {% block content %}
                <h1 id="temp">{{current.temp_f}}</h1>
                <p id = "date">{{location.localtime[:9]}}</p>
                <p id = "time">{{location.localtime[10:]}}</p>
                <div class="weather-char">
                    <div class ="img-weather">
                        <img src="../static/image/weather/wind.png" id="img-weather" >
                    </div>
                    <div class="text-weather">
                        <p id = "wind">{{current.wind_kph}} km/h</p>
                    </div>
                </div>
                <div class="weather-char">
                    <div class ="img-weather">
                        <img src="../static/image/weather/hum.png"id="img-weather" >
                    </div>
                    <div class="text-weather">
                        <p id = "hum">{{current.humidity}} %</p>
                    </div>
                </div>
                <div class="weather-char">
                    <div class ="img-weather">
                        <img src="../static/image/weather/rain.png" id="img-weather">
                    </div>
                    <div class="text-weather">
                        <p id = "rain">{{current.pressure_in}}</p>
                    </div>
                </div>
            </div>

            <div class="row-c">
                <div class="col-a"> 
                    <p id="sunrise">Sunrise</p>
                    <div class="box-a">
                        <img src="../static/image/weather/clock.png">
                        <p id = "sunrise-time">{{forecast.forecastday[0].astro.sunrise}}</p>
                    </div>
                </div>
                <div class="col-b"> 
                    <p id="golden-hour">Golden hour</p>
                    <div class="box-b">
                        <img src="../static/image/weather/clock.png">
                    </div>
                </div>
                <div class="col-c"> 
                    <p id="sunset">Sunset</p>
                    <div class="box-c">
                        <img src="../static/image/weather/clock.png">
                        <p id = "sunset-time">{{forecast.forecastday[0].astro.sunset}}</p>
                    </div>
                </div>
            </div>
            </div>
            {% endblock %}

        </div>
    </div>
</div>
</body>
</html>
