<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style/login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>
    <div>
        <form method="POST" action="">
            <h1 style="text-align:center">REGISTER</h1>
            {{form.hidden_tag()}}
            <label class="label">Username</label>
            {{form.username}}
            <label class="label">Password</label>
            {{form.password}}
            <br><br>
            {{form.submit}}
            <br><br><br><br>
            <p class="cau-cuoi">Already have an account? <a href="{{url_for('register')}}">Sign in</a></p>
            <br><br>
        </form>
    </div>
</body>
</html>